* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%; }

.conent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 200px; }

.cricle {
  background: red;
  width: 200px;
  height: 200px;
  border-radius: 100%; }

.cricle--black {
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%; }
